﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
	<link href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2018.1.117/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2018.1.117/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.1.117/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.1.117/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.1.117/js/kendo.aspnetmvc.min.js"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    <div class="container">
        <header class="masthead">
            <h3 class="text-muted">Library</h3>
            <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav text-md-center nav-justified w-100">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">
                                Library
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Grid")">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Publication")">Publications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Brochure")">Brochures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact", "Home")">Contacts</a>
                        </li>
                        
                            @Html.Partial("_LoginPartial")                        
                    </ul>
                    
                </div>
            </nav>
        </header>
        <div class="jumbotron">
            <h1>Library</h1>
            <p class="lead">Read books more!</p>
            <p>
                <a class="btn btn-lg btn-success" href="#" role="button">Get started today</a>
            </p>
        </div>
        @RenderBody()
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-4">
                <h2>Books</h2>
                <p>Love reading books? Get more below! </p>
                <p>
                    <a class="btn btn-primary" href="@Url.Action("Index", "Grid")" role="button">More books &raquo;</a>
                </p>
            </div>
            <div class="col-lg-4">
                <h2>Publications</h2>
                <p>Love reading publications? Get more below! </p>
                <p>
                    <a class="btn btn-danger" href="@Url.Action("Index", "Publication")" role="button">More publications &raquo;</a>
                </p>
            </div>
            <div class="col-lg-4">
                <h2>Brochures</h2>
                <p>Love reading brochures? Get more below!</p>
                <p>
                    <a class="btn btn-info" href="@Url.Action("Index", "Brochure")" role="button">More Brochures &raquo;</a>
                </p>
            </div>
        </div>
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
