﻿@{
    ViewBag.Title = "Brochures List";
}
<script type="text/kendo" id="authorsTemplate">
    <ul>
        #if(data.Authors != null)
        { #
        # for(var i = 0; i < Authors.length; i++){ #
        <li>#: Authors[i].AuthorName #</li>
        # } #
        # } #
    </ul>
</script>

<div id="grid"></div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/MyKendoScripts/BrochureGridForUsers.js")"></script>
}