﻿@{
    ViewBag.Title = "Publications List";

}
<h1>Publications</h1>
<script type="text/kendo" id="authorsTemplate">
    <ul>

        #if(data.Authors != null)
        { #
        # for(var i = 0; i < Authors.length; i++){ #
        <li>#: Authors[i].AuthorName #</li>
        # } #
        # } #

    </ul>
</script>
<script type="text/kendo" id="subscriptionsTemplate">
    #if(data.Subscription != null)
    { #

    #: Subscription.SubscriptionName #

    # } #
</script>

<div id="grid"></div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/MyKendoScripts/PublicationGridForAdmin.js")"></script>
}