﻿@{
    ViewBag.Title = "Book List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/kendo" id="authorsTemplate">
    <ul>

        #if(data.Authors != null)
        { #
        # for(var i = 0; i < Authors.length; i++){ #
        <li>#: Authors[i].AuthorName #</li>
        # } #
        # } #

    </ul>
</script>

<script type="text/kendo" id="genresTemplate">
    #if(data.Genre != null)
    { #

    #: Genre.GenreName #

    # } #
</script>
<h1>Books</h1>
<div id="grid"></div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/MyKendoScripts/BookGridForAdmin.js")"></script>
}