﻿@using LibraryApp.WEB.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}
@Styles.Render("~/Content/css")
<div align="center">
    <h2>Please sign in</h2>
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label " })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sign in" class="btn btn-primary" />
                </div>
            </div>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
            @*<div class="container">

                    <form class="form-signin">
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <label for="inputemail" class="sr-only">email address</label>
                        <input type="email" id="inputemail" class="form-control" placeholder="email address" required autofocus>
                        <label for="inputpassword" class="sr-only">password</label>
                        <input type="password" id="inputpassword" class="form-control" placeholder="password" required>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">sign in</button>
                    </form>
                </div>*@ <!-- /container -->
            @* enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @html.actionlink("forgot your password?", "forgotpassword")
                </p>*@
        }
    </section>
</div>
@Scripts.Render("~/bundles/bootstrap")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}